.footer-container {
  background-image: linear-gradient(to right, blue, skyblue);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: white;
  padding: 20px;
}

.coincap-li {
  list-style-type: none;
}

.legal-li {
  list-style-type: none;
}
.disclaimer-li {
  list-style-type: none;
  width: 350px;
}

.app-available-container {
  display: flex;
  flex-direction: column;
}

.follow-para-text {
  font-weight: bold;
  font-size: 18px;
}
.available-imgs {
  margin-top: 5px;
  width: 180px;
}
.follow-us-icons {
  font-size: 32px;
  margin-right: 10px;
}
.anchor-styling {
  text-decoration: none;
  color: lightgray;
}
a:hover {
  color: white;
}
.coincapio-container {
  display: flex;
  flex-direction: column;
}
.legal-container {
  display: flex;
  flex-direction: column;
}
